*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}
#pokedex{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 100vh;
}

.dex {
    background-image: linear-gradient(to top, #5e0606, #bd0d0d, rgb(250, 8, 8));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(65, 5, 5);
    width: 30%;
    margin-top: 50px;
    border-radius: 10px;
    height: 80% ;
}

h1 {
    color: yellow;
    margin-top: 20px;
}

.containerIn {
    margin-top: 20px;
}

.buscar {
    width: 100%;
    background-color: rgb(47, 255, 116);
    color: black;
    border-radius: 10px;
    padding: 10px;
}

#pokeData{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 270px;
    border-radius: 3px;
    border-bottom-left-radius: 20px;
    margin-bottom: 30%;
    color: black;
    background-image: linear-gradient(to top, #4483f8, #26ccd8); 
    border: 30px solid white;
    box-shadow: 1px 1px 3px 3px;
}

.pokeData2{
    width: 85%;
    height: 12vh;
    background-image: linear-gradient(to left, #4483f8, #26ccd8); 
    padding: 10px;
    border-radius: 15px;
    line-height: 1.5;
}

img {
    width: 100%;
}

.btnDex button{
    width: 100%;
    background-color: aqua;
    width: 50px;
    padding: 40px;
    border-radius: 50px;
}