*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#pokedex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arwec {
    font-size: 3rem;
}